.nav-link{
  display: flex;
  justify-content: center;
  padding: 3px;
  &:hover{
    background-color: #ffffff;
    color: #212529 !important;
  }
}
.navbar{
  padding: 0;
}

.navbar-toggler{
  border: none !important;
  outline: none !important;
  border-radius: 0 !important;
}

.nav-btn{
  padding: 0px;
  a{
    
    &:hover{
      background-color: #ffffff !important;

    }
  }
  border-radius: 0;
  border: none;
  &:hover{
    background-color: #ffffff !important;
    border-color: #343a40;
    border-radius: 0!important;
    border: none !important;
  }
}
